<h1>Editing Token</h1>

<%= render 'form', owner: @owner, token: @token %>

<%= link_to 'Show', owner_token_path(owner_id: @owner.id, id: @token.id) %> |
<%= link_to 'Back', owner_tokens_path(owner_id: @owner.id) %>
