<h1>Consent</h1>

<form action="consent" method="post">
  <p>SCOPE: "<%= @scope %>"</p>
  <input type=submit name=action value="Grant"/>
  <input type=submit name=action value="Deny"/>
  <!--APIGW-HTML-->
</form>
