<h1>Login</h1>

<form action="login" method="post">
  <input type=text name="name"/><br/>
  <input type=password name="pwd"/><br>
  <p>SCOPE: "<%= @scope %>"</p>
  <input type=submit value="LOGIN"/>
  <!--APIGW-HTML-->
</form>
