<h1>New Auth Property</h1>

<%= render 'form', owner: @owner, token: @token, auth_property: @auth_property %>

<%= link_to 'Back', owner_token_auth_properties_path(owner_id: @owner.id, token_id: @token.id) %>
